<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand mx-0" href="/">
      <i class="fas fa-campground nav-icon"></i>
      <strong>Holandés</strong>
    </a>
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
</div>
</nav>
